body{
  margin:0;
}
h1 {
  font-size: 60px;
  text-align:center;
  border-bottom:1px gray solid;
  margin:0;
  padding:20px;
}
a{
  color:black;
}
#grid{
  display: grid;
  grid-template-columns:200px 1fr;
}
.grid{
  border-right: 1px solid gray;
  margin:0;
  padding-left: 40px;
  padding-top: 15px;
}
#article{
  padding-left: 25px;
}
@media(max-width: 900px){
  h1{
    border-bottom: none;
  }
  #grid{
    display:block;
  }
  .grid{
    border-right: none;
  }

}
